<section class="home-banner" data-scroll-section>
        <div class="home-banner-img">
            <picture>
                <source media="(min-width:1025px)" srcset="{{ section.settings.bannerImg |  img_url: 'master' }}">
                <img src="{{ section.settings.bannerImgMob |  img_url: 'master' }}" alt="Flowers">
            </picture>
            <div class="home-banner-cont" data-scroll data-scroll-position="top" data-scroll-speed="1">
            <div class="home-banner-head">
                <h1 class="head-white">{{ section.settings.heading }}</h1>
            </div>
            <div class="home-banner-cta">
                <a class="craw-cta cta-white" href="{{ section.settings.cta-link }}" target="_blank">{{ section.settings.cta }}</a>
            </div>
        </div>
</section>
 

{% schema %}
{
    "name": "Appointment Banner",
    "settings": [
            {
                "type": "image_picker",
                "id": "bannerImg",
                "label": "Virtual Appointment Banner Image"
            },
            {
                "type": "image_picker",
                "id": "bannerImgMob",
                "label": "Virtual Appointment Banner Mobile Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Virtual Appointment Banner Heading"
            },
            {
                "type": "text",
                "id": "cta",
                "label": "Virtual Appointment Banner CTA Text"
            },
            {
                "type": "text",
                "id": "cta-link",
                "label": "Virtual Appointment Banner CTA Link"
            }
    ]
}
{% endschema %}