<section class="home-banner" data-scroll-section>
        <div class="home-banner-img">
            <picture>
                <source media="(min-width:1025px)" srcset="{{ section.settings.bannerImg |  img_url: 'master' }}">
                <img src="{{ section.settings.bannerImgMob |  img_url: 'master' }}" alt="Flowers">
            </picture>
            <div class="home-banner-cont" data-scroll data-scroll-position="top" data-scroll-speed="1">
            <div class="home-banner-head">
                <h1 class="head-white">{{ section.settings.heading }}</h1>
                <p class="text-white">{{ section.settings.para }}</p>
            </div>
            <div class="home-banner-cta">
                <a class="craw-cta cta-white" href="javascript:void(0)">{{ section.settings.cta }}</a>
            </div>
        </div>
</section>


{% schema %}
{
    "name": "Home Page Banner",
    "settings": [
            {
                "type": "image_picker",
                "id": "bannerImg",
                "label": "Home Page Banner Image"
            },
            {
                "type": "image_picker",
                "id": "bannerImgMob",
                "label": "Home Page Banner Mobile Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Home Page Banner Heading"
            },
            {
                "type": "text",
                "id": "para",
                "label": "Home Page Banner Para"
            },
            {
                "type": "text",
                "id": "cta",
                "label": "Home Page Banner CTA Text"
            }
    ]
}
{% endschema %}