<section
  class="login-signup-page"
  data-scroll-section
  style="background-image: url({{ section.settings.Img |  img_url: 'master' }}); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="container" style="min-height: 100vh">
    <div class="customer-con login">
      <div class="customer-wrapper login-signup">
        <div class="cw-left">
          <div class="head">
            <h2>{{ section.settings.head }}</h2>
          </div>
        </div>
        <div class="cw-right">
          <div class="form">
            {% form 'customer' %}
              {% if form.errors %}
                {{ form.errors | default_errors }}
              {% endif %}
              <input type="hidden" name="contact[tags]">
              <div class="form-con">
                <label for="email">Subscribe to our Email Newsletter</label>
                <input
                  type="email"
                  name="contact[email]"
                  placeholder="robertdowneyjr145@gmail.com"
                  id="email"
                  required
                  pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
              </div>
              <div class="form-con forgot">
                <a href="javascript:void(0)" class="forgot-password-cta">Have Password?</a>
              </div>
              <div class="form-con submit-but">
                <button class="custom-button" type="submit">
                  Sign-up
                </button>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
      <div class="customer-wrapper forgot-pass">
        <div class="forgot-pass-wrapper">
          <div class="head">
            <h2>{{ section.settings.fp-head }}</h2>
          </div>
          <div class="para">
            {{ section.settings.fp-para }}
          </div>
          <div class="form">
            {% form 'storefront_password' %}
              {% if form.errors %}
                {{ form.errors | default_errors }}
              {% endif %}
              <div class="form-con">
                <div class="email">
                  <label for="password">Password</label><br>
                  <input type="password" name="password">
                </div>
              </div>
              <div class="form-con submit-but">
                <button class="custom-button" type="submit">
                  Enter Password
                </button>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    $(".forgot-password-cta").click(function(){
      $(".customer-wrapper.login-signup").css("display", "none");
      $(".customer-wrapper.forgot-pass").css("display", "block");
    })
  });
</script>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Section heading"
      }, {
        "type": "image_picker",
        "id": "Img",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}