<style>
    .featured-article-image {
        height: 560px;
        overflow: hidden;
    }

    .featured-article-image img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .blog-container {
        max-width: 940px;
        margin: 0 auto;
        width: 100%;
        padding-top: 64px;
    }

    .article-title {
        font-size: clamp(24px, 5vw, 40px);
        font-family: "Recife Display Web";
    }

    .article-content {
        display: flex;
        gap: 40px;
    }

    .article-content p {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
h2{
    padding: 20px 0px;
}
em{
    padding: 10px 0px;
}
    h2 span,
    h3 span,
    h4 span,
    h5 span,
    h6 span {
        font-family: 'Recife Display Web' !important;
    }

    h2 span {
        font-size: 36px;
    }

    h3 span {
        font-size: 28px;
    }

    h4 span {
        font-size: 22px;
    }

    h5 span {
        font-size: 18px;
    }

    h6 span {
        font-size: 16px;
    }

    .article-content .left p span {
        display: flex;
        flex-direction: column;
    }

    .date-author-time {
        padding-top: 20px;
        font-size: 12px;
        font-weight: 600;
        font-family: 'general sans';
        letter-spacing: 0.08em;
        color: #555555;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    .article-content .left {
        width: 70%;
    }

    .article-content .right {
        width: 30%;
        position: sticky;
        top: 100px;
        align-self: flex-start;
    }

    .table-of-content {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 991px) {
        .article-content {
            flex-direction: column;
        }

        .article-content .left {
            order: 2;
            width: 100%;
        }

        .article-content .right {
            width: 100%;
        }

        .blog-container {
            padding: 40px 20px 0px 20px;
        }
        .article-content .right {
        position: unset;
        top: unset;
        align-self: unset;
    }
    }
</style>
<div class="article-page" data-scroll-section>
    <div class="featured-article-image">
        <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}" loading="lazy">
    </div>
    <div class="blog-container">

        <div class="article-content">
            <div class="left">
                <div class="heading">
                    <h1 class="article-title">{{ article.title }}</h1>
                </div>
                <div class="date-author-time">
                    {% if article.published_at %}
                    <span class="article-date">

                        {{ article.published_at | date: "%B %d, %Y" }}
                    </span>
                    {% endif %}

                    {% if article.author %}
                    <span class="article-author">

                        {{ article.author }}
                    </span>
                    {% endif %}

                    {% if article.content %}
                    <span class="article-read-time">

                        {% assign words = article.content | strip_html | split: ' ' | size %}
                        {% assign read_time = words | divided_by: 200 %}
                        {% if read_time < 1 %} {% assign read_time=1 %} {% endif %} {{ read_time }} MIN. READS </span>
                            {% endif %}
                </div>
                {{ article.content }}
            </div>
            <div class="right">
                <div id="rr-toc" class="table-of-content"></div>
                <p>Share</p>
                <div class="blog-share-icon" id="shareBtn" role="button" aria-label="Share blog">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.5 10.0052L11.6667 4.17188V7.50521C5.83333 8.33854 3.33333 12.5052 2.5 16.6719C4.58333 13.7552 7.5 12.4219 11.6667 12.4219V15.8385L17.5 10.0052Z"
                            fill="#708274" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("shareBtn").addEventListener("click", async () => {
        if (navigator.share) {
            try {
                await navigator.share({
                    title: document.title,
                    text: "Check out this blog!",
                    url: window.location.href
                });
            } catch (err) {
                console.log("Share cancelled", err);
            }
        } else {
            // Fallback for unsupported browsers
            alert("Sharing is not supported on this browser.");
        }
    });
</script>